@{
    ViewData["Title"] = "test Page";
}

@model MainModel

<div class="text-center">
    <p>XO</p>
    @Html.TextAreaFor(m => m.xo)
    <p>xplayer</p>
    @Html.TextAreaFor(m => m.Xplayer)
    <p>cell name</p>
    @Html.TextAreaFor(m => m.cellname)
</div>
